<h1>プロフィール画面</h1>
<div class="container">
  <table class="table table-bordered col-md-8">
    <thead>
      <tr>
        <th>変更項目</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="col-md-2">氏名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th scope="row" class="col-md-2">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row" class="col-md-2">パスワード</th>
        <td>**********(プライバシー保護のため非表示になっております。)</td>
      </tr>
      <tr>
        <th scope="row" class="col-md-2">出身国</th>
        <td><%= @user.country %></td>
      </tr>
      <tr>
        <th scope="row" class="col-md-2">出身地域</th>
        <td><%= @user.region %></td>
      </tr>
      <tr>
        <th scope="row" class="col-md-2">プロフィール</th>
        <td><%= @user.profile %></td>
      </tr>
    </tbody>
  </table>
</div>